*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Nightwind";
    src: url("./Fonts/Night Wind Sent.ttf") format("truetype");
}


html, body, .glass {
    width: 100%;
    height: 100%;

}

h1,h2,h3,h4,h5,h6{
    font-family: "Nightwind";
}

nav ul li{
    position: relative;
    top: 60px;
    right: 20px;
}

nav ul li button{
    background-color: #222;
    border: none;
    margin: 5px;
    padding: 5px;
}

body {
    background-image: url("stock-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-content {
    margin: 10px 10%;
}

.frosted{
    -webkit-backdrop-filter: blur(10px);
    margin: 100px auto;
    position: relative;
    padding: 10px 5px;
    background: hsla(0,0%,100%,.3);
    font-size: 20px;
    font-family: 'Lora', serif;
    line-height: 1.5;
    border-radius: 10px;
    width: 60%;
    box-shadow: 5px 3px 30px black;
    overflow: hidden;
}

.info
{
    position: relative;
    margin-top: 50px;
    text-align: center;
    z-index: 1;

}


.frosted:before{
    content: '';
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    z-index: -1;
}

.safe {

}

.footer{
    color: white;
    padding: 10px;
    text-align: left;
}